{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Category Coupons 2023</title>
    <link rel="stylesheet" href="{% static './assests/style/style.css'%}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="logo">

        <a href="index"><img src="{%static './assests/image/logo/couponbaarlogo.png' %}" alt=""></a>
        <div class="menu-search-bar">
            <input type="search" name="search" id="searchBar" placeholder="Search for coupons, deals, stores etc.">
            <button type="button">Search</button>
        </div>
        <div class="burgerMenu" onclick="openMenu()">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </div>
    <header class="header">
      <nav>
          <div class="menu-contact">
              <a href="index" class="nav-item">Home</a>
              <div class="dropdown">
                  <a href="category" class="nav-item">Category</a>
                  <div class="dropdown-container">
                      <div class="column">
                          {% for categories in categories|slice:":12" %}
                          <a href="{% url 'categorydetails' categories.slug %}" class="dd-link"><img src="/media/{{categories.category_image}}" alt="" />
                            <span>{{categories.category_name}}</span></a>
                            {% endfor %}
                        </div>
                  </div>
              </div>
              <div class="dropdown">
                  <a href="store" class="nav-item">Store</a>
                  <div class="dropdown-container">
                      <div class="column">
                          {% for store in store|slice:":12" %}
                          <a href="{% url 'storedetails' store.slug %}" class="dd-link"><img src="/media/{{store.logo}}" alt="">
                              <span>{{store.Store_name}}</span></a>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              <a href="contact" class="nav-item">Contact</a>   
          </div>
          <div class="mobileMenu">
              <div class="close-menu" onclick="closeMenu()"><span>&times;</span></div>
              <a href="index">Home</a>
              <a href="Category">Category</a>
              <a href="store">Stores</a>
              <a href="contact">Contact</a>
          </div>
      </nav>
  </header>

    <section class="featured-category">
        <div class="featured-category-heading">
            <h2>Featured Category</h2>
        </div>
        <div class="featured-category-wrapper">
            <div class="featured-category-container">
                {% for categories in categories|slice:":12" %}
                <div class="category-item">
                    <a href="{% url 'categorydetails' categories.slug %}">
                        <div class="category-icon">
                            <img src="/media/{{categories.category_image}}" alt="">
                            <div class="offers">
                                <span>14 Coupons</span>
                            </div>
                        </div>
                        <div class="featured-category-name">
                            <h2>{{categories.category_name}}</h2>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="all-category">
        <div class="all-category-heading">
            <h1>All Category</h1>
        </div>
        <div class="all-category-container">
            {% for categories in categories %}

            <div class="category-item">
                <a href="{% url 'categorydetails' categories.slug %}">
                    <div class="category-icon">
                        <img src="/media/{{categories.category_image}}" alt="">
                        <div class="offers">
                            <span>14 Coupons</span>
                        </div>
                    </div>
                    <div class="featured-category-name">
                        <h2>{{categories.category_name}}</h2>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="footer">
      <div class="footer-container">
        <div class="footer-container-item">
          <div class="item-footer ">
            <h3>Welcome</h3>
            <p>
              Thank you for choosing CouponBaar We're thrilled to have you here,
              and we hope you find amazing deals and savings on our platform.
              Our dedicated team works tirelessly to bring you the latest and
              most valuable coupons, discounts, and promotions from your
              favorite stores.
              <br /><br />
              Happy shopping,<br />
              The CouponBaar Team.
            </p>
          </div>
          <div class="item-footer ">
            <h3>Important Link</h3>
  
            <div class="footer-nav">
              <div class="link">
                <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
                <a href="index">Home</a>
              </div>
              <div class="link">
                <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="store">Stores</a>
              </div>
              <div class="link">
                <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a
                  href="category">Category</a>
              </div>
              <div class="link">
                <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a
                  href="contact">Contact</a>
              </div>
            </div>
          </div>
          <div class="item-footer reveal">
            <h3>Category</h3>
           <div class="footer-nav">
             {% for categories in categories|slice:":6" %}
             <div class="link">
               <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
               <a href="{% url 'categorydetails' categories.slug %}">{{categories.category_name}}</a>
             </div>
             {% endfor %}
           </div>
         </div>
         <div class="item-footer reveal">
           <h3>Top Stores</h3>
           <div class="footer-nav">
             {% for store in store|slice:"6:12" %}
             <div class="link">
               <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
               <a href="{% url 'storedetails' store.slug %}">{{store.Store_name}}</a>
             </div>
             {% endfor %}
           </div>
         </div>
       </div>
        <div class="footer-container-social">
          <h3>Social Media</h3>
          <div class="social-link">
            <a href="https://www.facebook.com/profile.php?id=100094181087771&mibextid=ZbWKwL"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a>
            <a href="https://www.instagram.com/couponbaar/?igshid=NzZhOTFlYzFmZQ%3D%3D"><i class="fa-brands fa-instagram fa-bounce fa-2xl"></i></a>
            <a href="https://t.me/couponbaar"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a>
          </div>
          <div class="subscribe">
            <input type="email" name="" id="" placeholder="Subscribe Now" />
            <button type="submit">Subscribe</button>
          </div>
        </div>
        <div class="footer-container-credentials">
          <div class="left-credit">
            <a href="licence">License</a>
            <a href="privacyandpolicy">Privacy and Policy</a>
            <a href="termsofservice">Term of Services</a>
          </div>
          <div class="right-credit">
            <p>
              © 2023 - Designed & Developed by CouponBaar. <br />
              All rights reserved
            </p>
          </div>
        </div>
        <div class="footer-logo">
          <div class="logo">
            <a href="index"><img src="{% static './assests/image/logo/couponbaarlogo.png' %}" alt="" /></a>
          </div>
        </div>
      </div>
    </section>
    <div class="back-to-top" id="top">
      <i class="fa-solid fa-arrow-up"></i>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="{% static './assests/script/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>
