<section class="footer">
    <div class="footer-container">

        <div class="footer-container-item ">
            <div class="item-footer reveal">
                <h3>Welcome</h3>
                <p>
                    Thank you for choosing CouponBaar We're thrilled to have you here, and we hope you
                    find amazing deals and savings on our platform. Our dedicated team works tirelessly to bring you
                    the latest and most valuable coupons, discounts, and promotions from your favorite stores.
                    <br><br>
                    Happy shopping,<br>
                    The CouponBaar Team.
                </p>
            </div>
            <div class="item-footer reveal">
                <h3>Important Link</h3>

                <div class="footer-nav">
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i>
                        <a href="index.html">Home</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="store.html">Stores</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="Category.html">Category</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
            <div class="item-footer reveal">
                <h3>Category</h3>

                <div class="footer-nav">
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i>
                        <a href="\">Fashion</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="\">Technology</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="\">Food</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="\">Healthcare</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="\">Home Care</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="\">Education</a>
                    </div>
                </div>
            </div>
            <div class="item-footer reveal">
                <h3>Top Stores</h3>
                <div class="footer-nav">
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i>
                        <a href="fc-moto.html">FC Moto</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="cottonOn.html">Cotton ON</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="Eddie_Bauer_US.html">Eddie Bauer</a>
                    </div>
                    <div class="link"><i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="kohls_us.html">Kohl's</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302;"></i><a
                            href="store.html">More</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-container-social">
            <h3>Social Media</h3>
            <div class="social-link">
                <a href="#"><i class="fa-brands fa-facebook  fa-bounce fa-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-bounce fa-2xl "></i></a>
                <a href="#"><i class="fa-brands fa-linkedin fa-bounce fa-2xl "></i></a>
            </div>
            <div class="subscribe">
                <input type="email" name="" id="" placeholder="Subscribe Now">
                <button type="submit">Subscribe</button>
            </div>
        </div>
        <div class="footer-container-credentials">
            <div class="left-credit">
                <a href="licence">License</a>
                <a href="privacyandpolicy">Privacy and Policy</a>
                <a href="termsofservice">Term of Services</a>

            </div>
            <div class="right-credit">
                <p>© 2023 - Designed & Developed by CouponBaar. <br> All rights reserved</p>
            </div>
        </div>
        <div class="footer-logo">
            <div class="logo"><a href="index"><img src="{% static './assests/image/logo/couponbaarlogo.png' %}" alt=""></a>
            </div>
        </div>
    </div>
</section>