{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="msvalidate.01" content="B930E41B2230047B2805952BA107CB16" />
  <title>Home</title>
  <link rel="stylesheet" href="{% static './assests/style/style.css'%}" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet" />

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TDMED1EC8Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TDMED1EC8Y');
</script>
</head>

<body>
  <div class="logo">
    <a href="index"><img src="{%static './assests/image/logo/couponbaarlogo.png' %}" alt="" /></a>

    <div class="burgerMenu" onclick="openMenu()">
      <i class="fa-solid fa-bars" style="color: #ffffff"></i>
    </div>
  </div>
  <header class="homeHeader">
    <nav>
      <div class="menu">
        <a href="index" class="nav-item">Home</a>
        <div class="dropdown">
          <a href="category" class="nav-item">Category</a>
          <div class="dropdown-container">
            <div class="column">
              {% for categories in categories|slice:":12" %}
              <a href="{% url 'categorydetails' categories.slug %}" class="dd-link"><img
                  src="/media/{{categories.category_image}}" alt="" />
                <span>{{categories.category_name}}</span></a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="store" class="nav-item">Store</a>
          <div class="dropdown-container">
            <div class="column">
              {% for stores in stores|slice:":12" %}
              <a href="{% url 'storedetails' stores.slug %}" class="dd-link"><img src="/media/{{stores.logo}}" alt="" />
                <span>{{stores.Store_name}}</span></a>
              {% endfor %}
            </div>
          </div>
        </div>
        <a href="contact" class="nav-item">Contact</a>
      </div>
      <div class="mobileMenu">
        <div class="close-menu" onclick="closeMenu()">
          <span>&times;</span>
        </div>
        <a href="index">Home</a>
        <a href="category">Category</a>
        <a href="store">Stores</a>
        <a href="contact">Contact</a>
      </div>
    </nav>
  </header>
  <section class="features">
    <div class="best-deal-text">Find the best deals in India</div>
    <div class="search-bar">
      <input type="search" name="search" id="searchBar" placeholder="Search for coupons, deals, stores etc." />
      <button type="button">Search</button>
    </div>
    <div class="featured-stores">
      <div class="feature-menu">
        <div class="feature-text">feature Menu</div>
        <div class="view-all"><a href="store">View All</a></div>
      </div>
      <div class="featured-wrapper" data-slider>
        <button class="left" data-slider-prev disabled>
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div class="featured-carousel" data-slider-track>
          {% for stores in stores%}
          <div class="store-slider-card">
            <a href="{% url 'storedetails' stores.slug %}">
              <img src="/media/{{stores.logo}}" alt="" />
              <div class="coupon-count">{{stores.total_offers}} Coupons</div>
            </a>
          </div>
          {% endfor %}
        </div>

        <button class="right" data-slider-next>
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"><a href="https://trk.couponbaar.com/click?campaign_id=1154&pub_id=1304" target="_blank">
          <img src="{% static './assests/image/banner/1.png' %}" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="carousel-item">
          <a href="https://trk.couponbaar.com/click?campaign_id=1164&pub_id=1304" target="_blank"> <img
              src="{% static './assests/image/banner/2.png' %}" class="d-block w-100" alt="..." /></a>
        </div>
        
          <div class="carousel-item">
            <a href="https://trk.couponbaar.com/click?campaign_id=1153&pub_id=1304" target="_blank"><img src="{% static './assests/image/banner/3.png' %}" class="d-block w-100" alt="..." /></a>
          </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>

  <section class="featured-offers">
    <div class="featured-filter-bar">
      <div class="filter-link" active-filter" data-filtered="featured">Featured Offers</div>
      <div class="filter-link" data-filtered="travel">Travel</div>
      <div class="filter-link" data-filtered="fashion">Fashion</div>
      <div class="filter-link" data-filtered="technology">Technology</div>
      <div class="filter-link"><a href="store">View All</a></div>
    </div>
    <div class="coupon-wrapper">
      <div class="coupon-container" data-item="fashion">
        <div class="coupon">
          <div class="coupon-logo">
            <a href=""><img src="./assests/image/logo/adidas.png" alt="" /></a>
          </div>
          <div class="couponp-description">
            <h1>FLAT 83% OFF</h1>
            <span>AJIO CLEARANCE SALE 2023: FLAT 83% OFF</span>
          </div>
          <div class="show-code">
            <a href="https://www.ajio.com/s/noexchnoreturn-5131-70341/?utm_source=Admitad&utm_medium=Affiliate&utm_campaign=e2666dff3fd71c41c2b364558eb2a034"
              class="delayLink"><button type="button" class="modal-button" data-modal="modal-1" id="openCoupon">
                Show Code
              </button></a>
          </div>
        </div>
        <div class="coupon-modal-container" id="modal-1">
          <div class="coupon-modal">
            <span class="close" data-modal="modal-1" id="close">&times;</span>
            <img src="./assests/image/logo/adidas.png" alt="" />
            <span>AJIO CLEARANCE SALE 2023: FLAT 83% OFF</span>
            <div class="code">
              <span id="couponCode1">NOEXCHNORETURN</span>
            </div>
            <div class="btn">
              <button type="button" id="copy" data-clipboard-target="#couponCode1">
                Copy Code
              </button>
              <a href="https://www.ajio.com/s/noexchnoreturn-5131-70341/?utm_source=Admitad&utm_medium=Affiliate&utm_campaign=e2666dff3fd71c41c2b364558eb2a034"
                target="_blank"><button type="button" id="shopNow">Shop
                  Now</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="best-deal">
    <div class="deal-head-container">
      <div class="deal-heading">Top Deals For</div>
    </div>

    <div class="deal-container1">
      <button class="arrowBtn" id="left"><i class="fa-solid fa-chevron-left" style="color: #000000;"></i></button>
      <div class="best-deal-wrapper1">

        <!-- <div class="deal-coupon">
          <a href="">
            <div class="image">
              <img src="{% static './assests/image/product_banner/scb.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div> -->
        <div class="deal-coupon1">
          <a href="https://juicychemistry.com/products/blood-orange-rosehip-organic-lip-balm?utm_source=CashKaro&utm_medium=Sale&utm_campaign=64f810e948e70a000119b730&utm_content=CHKR20230906A270209547&clickid=64f810e948e70a000119b730" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/juicyChemestry.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon1">
          <a href="https://juicychemistry.com/products/chilly-horsetail-black-seed-hair-growth-oil?utm_source=CashKaro&utm_medium=Sale&utm_campaign=64f8131e8135b70001fcf50d&utm_content=CHKR20230906A270210429&clickid=64f8131e8135b70001fcf50d" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/JuicyChemestry_2.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon1">
          <a href="https://thedermaco.com/product/1-kojic-acid-face-wash-with-niacinamide-alpha-arbutin-for-dark-spots-pigmentation-100ml?utm_source=Cashkaro&utm_medium=affise_affiliate&utm_campaign=Jan23&utm_term=cps_19_CHKR20230906A270210548&clickid=64f8136adbc1df00016a39aa" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/derma.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon1">
          <a href="https://thedermaco.com/product/1-hyaluronic-sunscreen-aqua-gel?utm_source=Cashkaro&utm_medium=affise_affiliate&utm_campaign=Jan23&utm_term=cps_19_CHKR20230906A270210847&clickid=64f813f945798700010995d0" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/derma2.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>

        </div>

      </div>
      <button class="arrowBtn" id="right" data-slider-next><i class="fa-solid fa-chevron-right"
          style="color: #000000;"></i></button>
    </div>
  </section>
  <section class="best-deal">
    <div class="deal-head-container">
      <div class="deal-heading">Top Deals in Finance</div>
    </div>

    <div class="deal-container2">
      <button class="arrowBtn" id="left"><i class="fa-solid fa-chevron-left" style="color: #000000;"></i></button>
      <div class="best-deal-wrapper2">

        <div class="deal-coupon2">
          <a href="https://ad.admitad.com/g/pmivzs9frf9899f9699d23d5247706/?i=3" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/1.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon2">
          <a href="https://ad.admitad.com/g/hxh2qvv04y9899f9699d23d5247706/?i=3" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/2.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon2">
          <a href="https://ad.admitad.com/g/d008ep4ifk9899f9699d23d5247706/?i=3" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/3.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon2">
          <a href="https://ad.admitad.com/g/e5wac4p9e49899f9699d23d5247706/?i=3" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/4.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>
        </div>
        <div class="deal-coupon2">
          <a href="https://ad.admitad.com/g/b2ip5bcr199899f9699d23d5247706/?i=3" target="_blank">
            <div class="image">
              <img src="{% static './assests/image/product_banner/5.jpg' %}" alt="" />
            </div>
            <div class="button-container">
              <button type="button">Get Deal</button>
            </div>
          </a>

        </div>

      </div>
      <button class="arrowBtn" id="right" data-slider-next><i class="fa-solid fa-chevron-right"
          style="color: #000000;"></i></button>
    </div>
  </section>
  <section class="category-wrapper">
    <div class="category-main">
      <div class="category-heading">
        <h1>Featured Category</h1>
        <a href="category"><span class="view-all-link">View All</span></a>
      </div>
      <div class="category-container">
        {% for categories in categories%}
        <div class="category">
          <div class="category-logo">
            <a href="{% url 'categorydetails' categories.slug %}"><img src="/media/{{categories.category_image}}"
                alt="" /></a>
            <div class="offer-count">
              <a href="{% url 'categorydetails' categories.slug %}"> <span>14 Coupons</span></a>
            </div>
          </div>
          <div class="category-name">
            <h2>{{categories.category_name}}</h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="deal-of-day">
    <div class="deals">
      <div class="deals-heading">
        <div class="deal-heading-content">Deals of the Day</div>
      </div>
      <div class="coupon-wrapper">
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/beardo.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Upto 63% OFF</h1>
              <span>Beardo Ultimate Monsoon Essentials Combo</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1152&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00001" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00001">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00001" id="close">&times;</span>
              <img src="{% static './assests/image/logo/beardo.png' %}" alt="" />
              <span>Beardo Ultimate Monsoon Essentials Combo</span>
              <div class="code">
                <span id="couponCode00001">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00001">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1152&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/nykaa.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Min 40% OFF + Extra 10% OFF</h1>
              <span>Find The Best Deals on Nykaa and Grab the Best Offers.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1153&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00002" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00002">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00002" id="close">&times;</span>
              <img src="{% static './assests/image/logo/nykaa.png' %}" alt="" />
              <span>Find The Best Deals on Nykaa and Grab the Best Offers.</span>
              <div class="code">
                <span id="couponCode00002">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00002">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1153&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href="https://trk.couponbaar.com/click?campaign_id=1155&pub_id=1304"><img
                  src="{% static './assests/image/logo/netmeds.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Flat 50% Cashback + 20% OFF </h1>
              <span>Place Your First Order and get Flat 25% OFF on meds and Upto 50% Cashback.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1155&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00003" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00003">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00003" id="close">&times;</span>
              <img src="{% static './assests/image/logo/netmeds.png' %}" alt="" />
              <span>Place Your First Order and get Flat 25% OFF on meds and Upto 50% Cashback.</span>
              <div class="code">
                <span id="couponCode00003">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00003">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1155&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href="https://trk.couponbaar.com/click?campaign_id=1156&pub_id=1304"><img
                  src="{% static './assests/image/logo/healthkart.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Upto 40% OFF + 10% OFF</h1>
              <span>Grab The Best Deal to Get the Huge discount on Nutritions On HEALTHKART</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1156&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00004" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00004">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00004" id="close">&times;</span>
              <img src="{% static './assests/image/logo/healthkart.png' %}" alt="" />
              <span>Grab The Best Deal to Get the Huge discount on Nutritions On HEALTHKART</span>
              <div class="code">
                <span id="couponCode00004">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00004">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1156&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href="https://trk.couponbaar.com/click?campaign_id=1157&pub_id=1304"><img
                  src="{% static './assests/image/logo/firstcry.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Get Upto 40% - 50% OFF</h1>
              <span>Buy Child Products on Firstcry.com and Get Discount upto 80%.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1157&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00005" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00005">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00005" id="close">&times;</span>
              <img src="{% static './assests/image/logo/firstcry.png' %}" alt="" />
              <span>Buy Child Products on Firstcry.com and Get Discount upto 80%.</span>
              <div class="code">
                <span id="couponCode00005">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00005">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1157&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href="https://trk.couponbaar.com/click?campaign_id=1158&pub_id=1304"><img
                  src="{% static './assests/image/logo/croma-logo.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Upto 60% Off</h1>
              <span>Buy Electronics Products Only on Croma.com and recieve a facinating Discount on every product</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1158&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00006" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00006">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00006" id="close">&times;</span>
              <img src="{% static './assests/image/logo/croma-logo.png' %}" alt="" />
              <span>Buy Electronics Products Only on Croma.com and recieve a facinating Discount on every product</span>
              <div class="code">
                <span id="couponCode00006">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00006">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1158&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/firstcry.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Upto 35% Off</h1>
              <span>Find all the Deals on FirstCry.com with upto 35% minimum Discount</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1159&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00007" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00007">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00007" id="close">&times;</span>
              <img src="{% static './assests/image/logo/firstcry.png' %}" alt="" />
              <span>Find all the Deals on FirstCry.com with upto 35% minimum Discount</span>
              <div class="code">
                <span id="couponCode00007">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00007">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1159&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/happily.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Get Upto 30% Off</h1>
              <span>Buy Dried Fruits From Online Store in India Hassle-Free and Get Upto 30% Discount.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1159&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00008" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00008">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00008" id="close">&times;</span>
              <img src="{% static './assests/image/logo/happily.png' %}" alt="" />
              <span>Buy Dried Fruits From Online Store in India Hassle-Free and Get Upto 30% Discount. </span>
              <div class="code">
                <span id="couponCode00008">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00008">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1159&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/nykaa.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Get Upto 50% Off</h1>
              <span>Shop on Nykaa and find the best fashion deals with huge discounts upto 50% off</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1160&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00009" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00009">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00009" id="close">&times;</span>
              <img src="{% static './assests/image/logo/nykaa.png' %}" alt="" />
              <span>Shop on Nykaa and find the best fashion deals with huge discounts upto 50% off</span>
              <div class="code">
                <span id="couponCode00009">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00009">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1160&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/bombayShavingCompany.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Best Deal</h1>
              <span>Find the Best Deals only on Bombay Shaving Company.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1161&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00010" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00010">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00010" id="close">&times;</span>
              <img src="{% static './assests/image/logo/bombayShavingCompany.png' %}" alt="" />
              <span>Find the Best Deals only on Bombay Shaving Company.</span>
              <div class="code">
                <span id="couponCode00010">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00010">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1161&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/heathians.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Starting @399</h1>
              <span>Book a Doctor Consultation + Health Test Combo with Healthians and get Upto 50% OFF.</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1162&pub_id=1304" class="delayLink"><button
                  type="button" class="modal-button" data-modal="modal-00011" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00011">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00011" id="close">&times;</span>
              <img src="{% static './assests/image/logo/heathians.png' %}" alt="" />
              <span>Book a Doctor Consultation + Health Test Combo with Healthians and get Upto 50% OFF.</span>
              <div class="code">
                <span id="couponCode00011">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00011">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1162&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="coupon-container coupon-hide">
          <div class="coupon">
            <div class="coupon-logo">
              <a href=""><img src="{% static './assests/image/logo/onePlus.png' %}" alt="" /></a>
            </div>
            <div class="couponp-description">
              <h1>Best Deals</h1>
              <span>Get Best Deals of the Day on One Plus Online Store and Enjoy a Huge Discount on every Product</span>
            </div>
            <div class="show-code">
              <a href="https://trk.couponbaar.com/click?campaign_id=1163&pub_id=1304" class="delayLink"><button
                  class="modal-button" type="button" data-modal="modal-00012" id="openCoupon">
                  Show Code
                </button></a>
            </div>
          </div>
          <div class="coupon-modal-container" id="modal-00012">
            <div class="coupon-modal">
              <span class="close" data-modal="modal-00012" id="close">&times;</span>
              <img src="{% static './assests/image/logo/onePlus.png' %}" alt="" />
              <span>Get Best Deals of the Day on One Plus Online Store and Enjoy a Huge Discount on every Product</span>
              <div class="code">
                <span id="couponCode00012">Not Required</span>
              </div>
              <div class="btn">
                <button type="button" id="copy" data-clipboard-target="#couponCode00012">
                  Copy Code
                </button>
                <a href="https://trk.couponbaar.com/click?campaign_id=1163&pub_id=1304" target="_blank"><button
                    type="button" id="shopNow">Shop
                    Now</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="load-more">
        <button type="button" id="loadMore">Load More</button>
      </div>
    </div>
  </section>

  <section class="faq-container">
    <div class="faq">
      <div class="faq-logo">
        <img src="{% static './assests/image/logo/faq.png' %}" alt="">
        <h2>Frequently Asked Questions</h2>
      </div>
      <div class="questions">
        <div class="faq-question reveal">
          <h2>How long do coupon codes last?</h2>
        </div>
      </div>
      <div class="faq-answer reveal">
        <p>
          Many nykaa discount codes last for 5 to 7 days. However, each nykaa
          coupon code has its own start and end date. Some coupons for nykaa
          will only last 24 hours and some will last 3 days. Make sure to check the
          expiration dates on this page. You can check the dates on the description
          of the promo code. Also, some nykaa coupons will be active until the
          promotional item runs out of stock.
        </p>
      </div>

      <div class="questions">
        <div class="faq-question reveal">
          <h2>How long do coupon codes last?</h2>
        </div>
        <div class="faq-answer reveal">
          <p>
            Many nykaa discount codes last for 5 to 7 days. However, each nykaa
            coupon code has its own start and end date. Some coupons for nykaa
            will only last 24 hours and some will last 3 days. Make sure to check the
            expiration dates on this page. You can check the dates on the description
            of the promo code. Also, some nykaa coupons will be active until the
            promotional item runs out of stock.
          </p>
        </div>
      </div>
      <div class="questions">
        <div class="faq-question reveal">
          <h2>How long do coupon codes last?</h2>
        </div>
        <div class="faq-answer reveal">
          <p>
            Many nykaa discount codes last for 5 to 7 days. However, each nykaa
            coupon code has its own start and end date. Some coupons for nykaa
            will only last 24 hours and some will last 3 days. Make sure to check the
            expiration dates on this page. You can check the dates on the description
            of the promo code. Also, some nykaa coupons will be active until the
            promotional item runs out of stock.
          </p>
        </div>
      </div>
      <div class="questions">
        <div class="faq-question reveal">
          <h2>How long do coupon codes last?</h2>
        </div>
        <div class="faq-answer reveal">
          <p>
            Many nykaa discount codes last for 5 to 7 days. However, each nykaa
            coupon code has its own start and end date. Some coupons for nykaa
            will only last 24 hours and some will last 3 days. Make sure to check the
            expiration dates on this page. You can check the dates on the description
            of the promo code. Also, some nykaa coupons will be active until the
            promotional item runs out of stock.
          </p>
        </div>
      </div>

    </div>
  </section>

  <section class="footer">
    <div class="footer-container">
      <div class="footer-container-item">
        <div class="item-footer reveal">
          <h3>Welcome</h3>
          <p>
            Thank you for choosing CouponBaar We're thrilled to have you here,
            and we hope you find amazing deals and savings on our platform.
            Our dedicated team works tirelessly to bring you the latest and
            most valuable coupons, discounts, and promotions from your
            favorite stores.
            <br /><br />
            Happy shopping,<br />
            The CouponBaar Team.
          </p>
        </div>
        <div class="item-footer reveal">
          <h3>Important Link</h3>

          <div class="footer-nav">
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
              <a href="index">Home</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="store">Stores</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="category">Category</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="contact">Contact</a>
            </div>
          </div>
        </div>
        <div class="item-footer reveal">
           <h3>Category</h3>
          <div class="footer-nav">
            {% for categories in categories|slice:":6" %}
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
              <a href="{% url 'categorydetails' categories.slug %}">{{categories.category_name}}</a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="item-footer reveal">
          <h3>Top Stores</h3>
          <div class="footer-nav">
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i>
              <a href="fc-moto.html">FC Moto</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="cottonOn.html">Cotton
                ON</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a
                href="Eddie_Bauer_US.html">Eddie Bauer</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a
                href="kohls_us.html">Kohl's</a>
            </div>
            <div class="link">
              <i class="fa-solid fa-caret-right fa-beat-fade" style="color: #d2b302"></i><a href="store.html">More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-container-social">
        <h3>Social Media</h3>
        <div class="social-link">
          <a href="https://www.facebook.com/profile.php?id=100094181087771&mibextid=ZbWKwL"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a>
          <a href="https://www.instagram.com/couponbaar/?igshid=NzZhOTFlYzFmZQ%3D%3D"><i class="fa-brands fa-instagram fa-bounce fa-2xl"></i></a>
          <a href="https://t.me/couponbaar"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a>
        </div>
        <div class="subscribe">
          <input type="email" name="" id="" placeholder="Subscribe Now" />
          <button type="submit">Subscribe</button>
        </div>
      </div>
      <div class="footer-container-credentials">
        <div class="left-credit">
          <a href="licence">License</a>
          <a href="privacyandpolicy">Privacy and Policy</a>
          <a href="termsofservice">Term of Services</a>
        </div>
        <div class="right-credit">
          <p>
            © 2023 - Designed & Developed by CouponBaar. <br />
            All rights reserved
          </p>
        </div>
      </div>
      <div class="footer-logo">
        <div class="logo">
          <a href="in dex"><img src="{% static './assests/image/logo/couponbaarlogo.png' %}" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
  <div class="back-to-top" id="top">
    <i class="fa-solid fa-arrow-up"></i>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  <script src="{% static './assests/script/app.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
