<header class="homeHeader">
    <nav>
        <div class="menu">
            <a href="\" class="nav-item">Home</a>
            <div class="dropdown">
                <a href="Category.html" class="nav-item">Category</a>
                <div class="dropdown-container">
                    <div class="column">
                        <a href="categorydetails.html" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Home</span></a>

                    </div>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="nav-item">Store</a>
                <div class="dropdown-container">
                    <div class="column">
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>
                        <a href="#" class="dd-link"><img src="./assests/image/logo/Acerlogo.png" alt="">
                            <span>Acer</span></a>


                    </div>
                </div>
            </div>
            <a href="contact.html" class="nav-item">Contact</a>
        </div>
        <div class="mobileMenu">
            <div class="close-menu" onclick="closeMenu()"><span>&times;</span></div>
            <a href="index.html">Home</a>
            <a href="Category.html">Category</a>
            <a href="store.html">Stores</a>
            <a href="contact.html">Contact</a>
        </div>
    </nav>
</header>